*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.page {
    flex: 1;
}


body{
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f8;
    color: #1F1F37;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 10px;
    color: #1F1F37;
}

button{
    padding: 10px 20px;
    background-color: #9191C5;
    color: #f2f2f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #AEAED5;
}

.buttons-section{
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
}



#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid #1F1F37;
    margin-bottom: 20px;
}

.grid-cell{
    border: 0px solid #f2f2f8;
    background-color: #f2f2f8;
    transition: background-color 0.3s;
}

.grid-cell.active {
    background-color: black;
}

footer{
    margin-top: 10px;
    font-size: 12px;
    background-color: #1F1F37;
    color: #f2f2f8;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

footer a{
    color: #9191C5;
    text-decoration: none;
}   

footer a:hover{
    text-decoration: underline;
}